@import "../../styles/mixins";

.searchbar {
  z-index: 5;
  position: absolute;
  top: 1rem;
  height: 130px;
  width: 602px;
  background: rgba(0, 0, 0, 0.294);
  backdrop-filter: blur(5px);
  border-radius: 0 1rem 1rem 0;
  border: rgba(220, 255, 217, 0.411) 1px solid;
  transform: translateX(-510px);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: translateX(0);
  }

  display: flex;
  align-items: center;
  justify-content: flex-end;
  input,
  button {
    background: none;
    border: none;
    height: 70%;
    margin: 0 1rem;

    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #0fa, 0 0 21px #0fa, 0 0 42px #0fa;
  }
  button {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.playlists-top {
  height: 160px;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  @include scrollbar(40, 100);
}
.playlist-item {
  position: relative;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  background-color: rgba(130, 167, 129, 0.295);
  box-shadow: #0000005e 2px 2px 6px;
  &:first-child {
    margin-left: 100px;
  }
  .playlist-cover {
    width: 90px;
    aspect-ratio: 1/1;
  }
  .playlist-title {
    max-width: 90px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tracks-added {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: #3ab13a;
    width: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    font-size: 0.6rem;
    border-radius: 50%;
  }
  .not-saved {
    background-color: rgb(146, 53, 53);
  }
}

.work-space {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: calc(160px + 1rem);
  left: 0;
  right: 0;
  bottom: 0;
}
.playlist-container {
  margin: 0.5rem;
  width: 50vw;
  // height: 100%;
  padding: 1.5rem 3rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  .create-pl {
    background-color: #000000;
    color: #c7c6c6;
    font-size: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover {
      background-color: #3f513f;
    }
    &:active {
      background-color: #badfba;
      color: black;
    }
  }
}
.btn {
  @include round-btn(2rem);
  margin-left: 0.5rem;
}
.btn-bar {
  display: flex;
}
.checkbox-container {
  padding-top: 0.5rem;
  padding-right: 1rem;
  width: fit-content;
  label {
    user-select: none;
    font-size: 0.75rem;
    color: #808a80;
    text-transform: uppercase;
  }
  .checkbox {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0;
    // position: absolute;
    &:checked {
      ~ .check {
        border-color: #858d84;
        box-shadow: 0px 0px 10px #00ea90, -3px -3px 10px #0000006e inset;
        background: #00ea90;
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  .check {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    vertical-align: bottom;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
    position: relative;
    border-radius: 50%;
    background-color: #004d2f;
    border: 2px solid #858d84;
    box-shadow: 0px 0px 0px 0px #002718 inset, -3px -3px 10px #0000006e inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  }
}
.playlist-drop-item {
  padding: 0.5rem;
  width: fit-content;
  margin: 0;
}
.tracklist {
  width: 100%;
  height: 100%;
  // background: black;
  .tracklist-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    h4 {
      margin: 0.5rem 1rem;
      font-size: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgba(149, 149, 149, 0.719);
      user-select: none;
    }
    .minimize {
      background-color: #3f513f;
      color: white;
      &:hover {
        background-color: #5f6d5f;
      }
      &:active {
        background-color: #b0bdb0;
        color: rgba(0, 0, 0);
      }
    }
    .save {
      background-color: #3ab13a;
      color: white;
      &:hover {
        background-color: #86c286;
      }
      &:active {
        background-color: #badfba;
        color: rgba(0, 0, 0);
      }
    }
  }
  .tracklist-content {
    max-height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.438);
    @include scrollbar(90, 200);
  }
}
.tracklist-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  .tracklist-cover {
    padding-right: 2rem;
  }
  .tracklist-title {
    font-size: 1.25rem;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    span {
      display: block;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.589);
    }
  }
}
.tracklist-placeholder {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.109);
  user-select: none;
  .create-new-intro {
    @include round-btn(5rem);
    margin-top: 2rem;
    box-shadow: none;
    svg {
      display: block;
      font-size: 5rem;
    }
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      color: #585858;
    }
  }
}

.modal-bg {
  z-index: 3;
  position: absolute;
  background: #00000059;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-create-pl {
    background: #3f513fa6;
    backdrop-filter: blur(5px);
    height: fit-content;
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: black 5px 5px 16px;
    position: relative;
    input,
    button {
      line-height: 2.5rem;
      font-size: 1.5rem;
      padding: 0 0.75rem;
    }
    input {
      background: #c5c9c5;
      color: black;
      outline: #0e130e;
    }
    button {
      background: #0e130e;
      color: #c7c6c6;
    }
  }
}
.btn-modal-close,
.btn-delete-pl {
  position: absolute;
  top: -4px;
  right: -4px;
}
.btn-modal-close {
  @include round-btn(2rem);
  background: #5f6d5f;
  &:hover {
    background: #808a80;
  }
}
.btn-delete-pl {
  @include round-btn(1.25rem, 1rem);
  background: #000000;
  &:hover {
    background: #808a80;
  }
}
.inactive {
  display: none;
}
