.notfound-container h1 {
	color: white;
	font-size: 7em;
}

.notfound-container h2 {
	color: white;
}

.notfound-container {
	@include full-height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	h4{
		text-align: center;
		width: 60%;
	}
}

.notfound-btn,
.notfound-link {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.notfound-btn {
	@include animation-button;
	height: 45px;
	width: 150px;
	margin: 15px;
}

.notfound-btn a {
	color: $main-bgcolor;
	text-decoration: none;
	text-align: center;
	display: block; /* important */
}

.notfound-btn:hover {
	background-color: transparent;
	border-color: $main-color;
	a {
		color: $main-color;
	}
}

.notfound-btn a:hover {
	text-decoration: none;
}

.notfound-btn:hover .notfound-link {
	margin-top: -2.5em;
}
